*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    
}
.container{
    display: flex;  
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(114, 73, 151);
}
.container:hover{
    background-color: rgb(55, 81, 81);
}
h1{
    color: white;
}
.contact-us{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    gap: 10px;
    margin: 60px;
    padding: 30px;
    border-radius: 10px;
    background-color: aqua;
}
.contact-us:hover{
     
    box-shadow: 1px 4px 10px rgb(206, 184, 184,0.7);
}
.name input{
    border-radius: 10px;
    padding: 3px;
}
.mobile input{
  border-radius: 10px;
    padding: 3px;
}
button{
    width: 70px;
    margin-left: 65px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(107, 90, 123);
    padding: 10px;
    color: white;
}
 